p {
    margin:0;
}

.find-stores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.find-stores-header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;  
}

#google-map {
    margin-top: 15px;
    background-color: rgb(213, 213, 213);
    width: 250px;
    height: 250px;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#results-header-text {
    margin-top: 20px;
    font-size: 16px;
    align-self: flex-start;
}

.result {
    background-color: rgb(237, 237, 254);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.website, .address, .phone {
    font-size: 13px;
}
.website{
    font-size: 11px;
    background-color: rgb(101, 101, 101);
    color: #ffffff;
    border-radius: 10%;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    text-align: center;
    width:55%;
}

.phone {
    background-color: rgb(113, 223, 157);
    border-radius: 50%;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}