:root {
  --dark_green:rgb(9, 46, 15);
  --green: rgb(18, 86, 29);
}

* {
    box-sizing:border-box;
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

